
*{

    margin: 0;
    padding: 0;


}

body{


	background: #f2f2f2;
    
}

.caja{

    width: 200px;
	height: 200px;
	background: #0E6BA8;
	margin: 20px;

}


.posicionada {
	background: #6695e8;
	position: fixed;
	top:0; /*  empujando de arriba hacia abajo */

	bottom:; /*  empujando de abajo hacia arriba  */



	left:220px;
	right:0;
}





/* Tipos de Posicionamiento:

	- Normal (static): Posicionamiento por defecto con el que los navegadores acomodan los elementos
	- Relativo (relative): Nos permite posicionar una caja y despues moverla desde su lugar original.
	- Abosluto (absolute): Nos permite posicionar una caja respecto a su contenedor y el resto de elementos ignoran la nueva posicion.
	- Fijo (fixed): Nos permite posicionar una caja en donde su posicion respecto a la pantalla del usuario siempre va a ser la misma.
	- Flotante (float): Nos permite desplazar las cajas todo lo posible hacia la derecha o izquierda.

*/